:root {
  --font-display-family: 'Poppins', sans-serif;
  --font-display-weight: 700;
  --font-display-size: 38px;
  --font-display-line-height: 48px;
  --font-display-letter-spacing: 0;


  --font-h1-family: 'Poppins', sans-serif;
  --font-h1-weight: 700;
  --font-h1-size: 32px;
  --font-h1-line-height: 38px;
  --font-h1-letter-spacing: 0;

  --font-h2-family: 'Poppins', sans-serif;
  --font-h2-weight: 700;
  --font-h2-size: 26px;
  --font-h2-line-height: 32px;
  --font-h2-letter-spacing: 0;

  --font-h3-family: 'Poppins', sans-serif;
  --font-h3-weight: 700;
  --font-h3-size: 22px;
  --font-h3-line-height: 28px;
  --font-h3-letter-spacing: 0;


  --font-s1-family: 'Poppins', sans-serif;
  --font-s1-weight: 500;
  --font-s1-size: 18px;
  --font-s1-line-height: 26px;
  --font-s1-letter-spacing: 0;

  --font-s2-family: 'Poppins', sans-serif;
  --font-s2-weight: 500;
  --font-s2-size: 16px;
  --font-s2-line-height: 24px;
  --font-s2-letter-spacing: 0;


  --font-p1-family: 'Poppins', sans-serif;
  --font-p1-weight: 300;
  --font-p1-size: 18px;
  --font-p1-line-height: 26px;
  --font-p1-letter-spacing: 0;

  --font-p2-family: 'Poppins', sans-serif;
  --font-p2-weight: 300;
  --font-p2-size: 16px;
  --font-p2-line-height: 24px;
  --font-p2-letter-spacing: 0;


  --font-c1-family: 'Poppins', sans-serif;
  --font-c1-weight: 300;
  --font-c1-size: 10px;
  --font-c1-line-height: 14px;
  --font-c1-letter-spacing: 0;
}
