<div class='responsive-grid'>
  <div class='responsive-grid__item'>1</div>
  <div class='responsive-grid__item'>2</div>
  <div class='responsive-grid__item'>3</div>
  <div class='responsive-grid__item'>4</div>
  <div class='responsive-grid__item'>5</div>
  <div class='responsive-grid__item'>6</div>
  <div class='responsive-grid__item'>7</div>
  <div class='responsive-grid__item'>8</div>
  <div class='responsive-grid__item'>9</div>
  <div class='responsive-grid__item'>10</div>
  <div class='responsive-grid__item'>11</div>
  <div class='responsive-grid__item'>12</div>
</div>

<style>
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-6);
    margin: var(--spacing-0) var(--spacing-6);
    max-width: 100%;
  }

  .responsive-grid__item {
    background-color: var(--cream-200);
    border: 1px solid var(--neutral-300);
    border-radius: var(--radius-medium);
    color: var(--primary-text);
    font-family: var(--font-p1-family);
    font-size: var(--font-p1-size);
    font-weight: var(--font-p1-weight);
    line-height: var(--font-p1-line-height);
    padding: var(--spacing-2);
    text-align: center;
    width: 40px;
    height: 1000px;
  }

  @media (min-width: 701px) and (max-width: 1100px) {
    .responsive-grid__item {
      width: 97px;
    }

    .responsive-grid {
      grid-template-columns: repeat(6, 1fr);
      gap: var(--spacing-8);
      margin: 0 var(--spacing-9);
    }
  }

  @media (min-width: 1101px) and (max-width: 1500px) {
    .responsive-grid__item {
      width: 77px;
    }

    .responsive-grid {
      grid-template-columns: repeat(12, 1fr);
      gap: var(--spacing-10);
      margin: 0 var(--spacing-10);
    }
  }

  @media (min-width: 1501px) {
    .responsive-grid__item {
      width: 96px;
    }

    .responsive-grid {
      grid-template-columns: repeat(12, 1fr);
      gap: 48px;
      margin: 0 48px;
      max-width: 1680px;
    }
  }
</style>
