---
import Button from './Button.astro';
---

<div id="container">
	<h2>Buttons</h2>

	<div class="button-examples">
		<div class="button-container">
			<Button>
				Primary Button
			</Button>
			<Button variant='secondary'>
				Secondary Button
			</Button>
		</div>
	</div>
</div>

<style>
	#container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	h2 {
		color: var(--brand-text);
		font-size: 2rem;
	}
	.button-container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
</style>
