---
import Button from './Button.astro';
import InputText from './InputText.astro';
---

<div id='container'>
  <h2>Buttons</h2>
  <div class='button-container'>
    <Button> Primary Button </Button>
    <Button variant='secondary'> Secondary Button </Button>
  </div>
  <h2>Input Text</h2>
  <form>
    <InputText name='fullName' label='full name' placeholder='Enter your full name' />
  </form>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  h2 {
    color: var(--brand-text);
    font-size: 2rem;
  }
  .button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
